<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr>
          <p>&copy; Copyright <span>{{ footerText }}</span> Todos los derechos son Reservados</p>
        </div>
        <div class="col-12">
          <div class="social-icons">
            <a *ngFor="let link of socialLinks" [href]="link.href" target="_blank">
              <i [class]="link.iconClass"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  