<div id="nosotros" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="presentation">
                    <h2 class="underlight">{{titulo}}</h2>
                </div>
            </div>
        </div>
        <div class="row  ">
            <div class="col-4 d-flex align-items-end justify-content-center ">
                <img [src]="imagenUrl" alt="Emily Johnson">
            </div>
            <div class="col-8 d-flex flex-column align-items-center justify-content-center">
                <h3 >{{cargo}}</h3>
                <p >{{ paragraph1 }}</p>
                <p >{{ paragraph2 }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <button class="cta-button" (click)="onShowBioClick()">Más Detalles</button>
            </div>
        </div>

    </div>

</div>