.content {
    padding: 20px;
    background-color: #000;
    color: aliceblue;
}

section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }



  .about-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenedor */
    align-items: center; /* Centra verticalmente el contenedor */
    padding: 20px; /* Añade espacio alrededor del contenedor */
  }
  
  .bio-content {
    margin-left: 20px; /* Espacio entre la sección "about" y la biografía */
    padding: 20px;
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #f9f9f9; /* Fondo gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 300px; /* Máximo ancho de la caja */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .bio-content p {
    margin: 0; /* Eliminar márgenes predeterminados */
    font-size: 1em; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    color: #333; /* Color de texto */
  }
  
  .bio-content:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  }
  